                        /*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */
                    
                    body {
                        padding-top: 56px;
                    }
                    
                    .carousel-item {
                        height: 65vh;
                        min-height: 300px;
                        background: no-repeat center center scroll;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                    }
                    
                    .portfolio-item {
                        margin-bottom: 30px;
                    }
                    
                    .logo_f {
                        width: 200px;
                        height: 80px;
                    }
                    
                    ul.navbar-nav.ml-auto {
                        letter-spacing: 3px;
                    }
                    
                    .fixed-top {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                    
                    .navbar-dark .navbar-nav .nav-link {
                        color: rgb(255 255 255);
                        /* background: #FFFFFF 0% 0% no-repeat padding-box; */
                        opacity: 0.9;
                    }
                    
                    .bg-dark {
                        border: none!important;
                        box-shadow: none!important;
                        background: linear-gradient( 90deg, rgba(1, 124, 163, 1) 0%, rgba(0, 68, 90, 1) 35%, rgba(1, 21, 28, 1) 100%);
                    }
                    
                    #hero1 {
                        min-height: 180vh !important;
                        background-repeat: no-repeat !important;
                        background-size: cover !important;
                        margin-top: -126px;
                        clip-path: ellipse(196% 100% at -69.08% -5%);
                        background: rgb(1, 124, 163);
                        background: linear-gradient( 90deg, rgba(1, 124, 163, 1) 0%, rgba(0, 68, 90, 1) 35%, rgba(1, 21, 28, 1) 100%);
                    }
                    
                    .inner {
                        min-height: 600px;
                        position: relative;
                    }
                    
                    .copy {
                        position: absolute;
                        top: 50%;
                        height: 451px;
                        margin-top: -5em;
                        width: 100%;
                    }
                    
                    .banner_text {
                        text-align: center;
                        color: white;
                        text-transform: uppercase;
                        font-size: 45px;
                        line-height: 2;
                        font-weight: bold;
                        opacity: 0.9;
                        padding-top: 100px;
                    }
                    
                    .how_work {
                        background: white;
                        -webkit-box-shadow: 4px 4px 21px 4px #d3d3d3;
                        box-shadow: 4px 4px 21px 4px #d3d3d3;
                        padding: 40px;
                    }
                    
                    .p_cls {
                        text-align: left;
                        color: #666666;
                        letter-spacing: 1px;
                        opacity: 0.5;
                        font-size: 14px;
                        line-height: 2;
                    }
                    
                    .work_icon {
                        margin-top: -20px;
                    }
                    
                    .work_title {
                        text-align: left;
                        font-weight: 900;
                        font-size: 14px;
                        color: #666666;
                    }
                    
                    #work_box_sec {
                        margin-top: -29%;
                    }
                    
                    #feature_sec {
                        padding-top: 50px;
                        padding-bottom: 50px;
                    }
                    
                    .heading_fea {
                        font-size: 36px;
                        color: #000000;
                        text-align: center;
                        font-weight: 600;
                        padding-bottom: 70px;
                    }
                    
                    .fea_box_hed {
                        text-align: left;
                        color: #464646;
                        padding-top: 30px;
                        font-size: 16px;
                    }
                    
                    .para_fea {
                        text-align: left;
                        color: #d4c5c5;
                        font-size: 12px;
                    }
                    
                    .get_start {
                        text-align: center;
                        font-size: 13px;
                        font-weight: 900;
                    }
                    
                    .box_fea {
                        -webkit-box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
                        box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
                        padding: 40px;
                    }
                    
                    #broker_sec {
                        padding-top: 50px;
                        padding-bottom: 50px;
                    }
                    
                    .bg_broker {
                        background: linear-gradient( 90deg, rgba(1, 124, 163, 1) 0%, rgba(0, 68, 90, 1) 35%, rgba(1, 21, 28, 1) 100%);
                        padding: 40px;
                    }
                    
                    .broker_logo {
                        height: 250px;
                        width: 100%;
                    }
                    
                    .mg_top {
                        margin-top: -14%;
                    }
                    
                    .broker_title_h {
                        text-align: center;
                        color: black;
                    }
                    
                    .broker_title_p {
                        text-align: center;
                        color: #d4c5c5;
                    }
                    /* <!--footer---> */
                    
                    .context-dark,
                    .bg-gray-dark,
                    .bg-primary {
                        color: rgba(255, 255, 255, 0.8);
                    }
                    
                    .footer-classic a,
                    .footer-classic a:focus,
                    .footer-classic a:active {
                        color: #ffffff;
                    }
                    
                    .nav-list li {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                    
                    .nav-list li a:hover:before {
                        margin-left: 0;
                        opacity: 1;
                        visibility: visible;
                    }
                    
                    ul,
                    ol {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }
                    
                    .social-inner {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        padding: 23px;
                        font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
                        text-transform: uppercase;
                        color: rgba(255, 255, 255, 0.5);
                    }
                    
                    .social-container .col {
                        border: 1px solid rgba(255, 255, 255, 0.1);
                    }
                    
                    .nav-list li a:before {
                        content: "\f14f";
                        font: 400 21px/1 "Material Design Icons";
                        color: #4d6de6;
                        display: inline-block;
                        vertical-align: baseline;
                        margin-left: -28px;
                        margin-right: 7px;
                        opacity: 0;
                        visibility: hidden;
                        transition: .22s ease;
                    }
                    
                    .bg_footer_gra {
                        padding-bottom: 50px;
                        padding-top: 50px;
                        border: none!important;
                        box-shadow: none!important;
                        background: linear-gradient( 90deg, rgba(1, 124, 163, 1) 0%, rgba(0, 68, 90, 1) 35%, rgba(1, 21, 28, 1) 100%);
                    }
                    
                    .hed_foter {
                        text-align: left;
                        font-size: 19px;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                        opacity: 1;
                    }
                    
                    .para_foter {
                        text-align: left;
                        font: normal normal normal 17px/34px Segoe UI;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                        opacity: 0.2;
                        font-size: 14px;
                    }
                    /* }<footer-end> */
                    
                    .stretch-card>.card {
                        width: 100%;
                        min-width: 100%
                    }
                    
                    body {
                        background-color: #ffffff;
                    }
                    
                    .flex {
                        -webkit-box-flex: 1;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto
                    }
                    
                    @media (max-width:991.98px) {
                        .padding {
                            padding: 1.5rem
                        }
                    }
                    
                    @media (max-width:767.98px) {
                        .padding {
                            padding: 1rem
                        }
                        .padding {
                            padding: 3rem
                        }
                        .card {
                            box-shadow: none;
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                            -ms-box-shadow: none
                        }
                        .card {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            min-width: 0;
                            word-wrap: break-word;
                            background-color: #fff;
                            background-clip: border-box;
                            border: 1px solid #3da5f;
                            border-radius: 0
                        }
                        .card .card-body {
                            padding: 1.25rem 1.75rem
                        }
                        .card .card-title {
                            color: #000000;
                            margin-bottom: 0.625rem;
                            text-transform: capitalize;
                            font-size: 0.875rem;
                            font-weight: 500
                        }
                        .card .card-description {
                            margin-bottom: .875rem;
                            font-weight: 400;
                            color: #76838f
                        }
                        .btn.btn-social-icon {
                            width: 50px;
                            height: 50px;
                            padding: 0
                        }
                        .template-demo>.btn {
                            margin-right: 0.5rem !important
                        }
                        .template-demo {
                            margin-top: 0.5rem !important
                        }
                        .btn.btn-rounded {
                            border-radius: 50px
                        }
                        .btn-outline-facebook {
                            border: 1px solid #3b579d;
                            color: #3b579d
                        }
                        .btn-outline-facebook:hover {
                            background: #3b579d;
                            color: #ffffff
                        }
                        .btn-outline-youtube {
                            border: 1px solid #e52d27;
                            color: #e52d27
                        }
                        .btn-outline-twitter {
                            border: 1px solid #2caae1;
                            color: #2caae1
                        }
                        .btn-outline-dribbble {
                            border: 1px solid #ea4c89;
                            color: #ea4c89
                        }
                        .btn-outline-linkedin {
                            border: 1px solid #0177b5;
                            color: #0177b5
                        }
                        .btn-outline-instagram {
                            border: 1px solid #dc4a38;
                            color: #dc4a38
                        }
                        .btn-outline-twitter:hover {
                            background: #2caae1;
                            color: #ffffff
                        }
                        .btn-outline-linkedin:hover {
                            background: #0177b5;
                            color: #ffffff
                        }
                        .btn-outline-youtube:hover {
                            background: #e52d27;
                            color: #ffffff
                        }
                        .btn-outline-instagram:hover {
                            background: #e52d27;
                            color: #ffffff
                        }
                        .btn-facebook {
                            background: #3b579d;
                            color: #ffffff
                        }
                        .btn-youtube {
                            background: #e52d27;
                            color: #ffffff
                        }
                        .btn-twitter {
                            background: #2caae1;
                            color: #ffffff
                        }
                        .btn-dribbble {
                            background: #ea4c89;
                            color: #ffffff
                        }
                        .btn-linkedin {
                            background: #0177b5;
                            color: #ffffff
                        }
                        .btn-instagram {
                            background: #dc4a38;
                            color: #ffffff
                        }
                        .btn-facebook:hover,
                        .btn-facebook:focus {
                            background: #2d4278;
                            color: #ffffff
                        }
                        .btn-youtube:hover,
                        .btn-youtube:focus {
                            background: #c21d17;
                            color: #ffffff
                        }
                        .btn-twitter:hover,
                        .btn-twitter:focus {
                            background: #1b8dbf;
                            color: #ffffff
                        }
                        .btn-dribbble:hover,
                        .btn-dribbble:focus {
                            background: #e51e6b;
                            color: #ffffff
                        }
                        .btn-linkedin:hover,
                        .btn-linkedin:focus {
                            background: #015682;
                            color: #ffffff
                        }
                        .btn-instagram:hover,
                        .btn-instagram:focus {
                            background: #bf3322;
                            color: #ffffff
                        }
                        /*SOCİAL İCONS*/
                        /* footer social icons */
                        ul.social-network {
                            list-style: none;
                            display: inline;
                            margin-left: 0 !important;
                            padding: 0;
                        }
                        ul.social-network li {
                            display: inline;
                            margin: 0 5px;
                        }
                        /* footer social icons */
                        .social-network a.icoFacebook:hover {
                            background-color: #3B5998;
                        }
                        .social-network a.icoLinkedin:hover {
                            background-color: #007bb7;
                        }
                        .social-network a.icoFacebook:hover i,
                        .social-network a.icoLinkedin:hover i {
                            color: #fff;
                        }
                        .social-network a.socialIcon:hover,
                        .socialHoverClass {
                            color: #44BCDD;
                        }
                        .social-circle li a {
                            display: inline-block;
                            position: relative;
                            margin: 0 auto 0 auto;
                            -moz-border-radius: 50%;
                            -webkit-border-radius: 50%;
                            border-radius: 50%;
                            text-align: center;
                            width: 30px;
                            height: 30px;
                            font-size: 15px;
                        }
                        .social-circle li i {
                            margin: 0;
                            line-height: 30px;
                            text-align: center;
                        }
                        .social-circle li a:hover i,
                        .triggeredHover {
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -ms--transform: rotate(360deg);
                            transform: rotate(360deg);
                            -webkit-transition: all 0.2s;
                            -moz-transition: all 0.2s;
                            -o-transition: all 0.2s;
                            -ms-transition: all 0.2s;
                            transition: all 0.2s;
                        }
                        .social-circle i {
                            color: #595959;
                            -webkit-transition: all 0.8s;
                            -moz-transition: all 0.8s;
                            -o-transition: all 0.8s;
                            -ms-transition: all 0.8s;
                            transition: all 0.8s;
                        }
                        .social-network a {
                            background-color: #F9F9F9;
                        }
                        /* footer social icons */
                        .seprater {
                            background: #d8d8d8;
                            height: 1px;
                            width: 100%;
                        }
                        .pd {
                            padding: 12px;
                            padding-bottom: 20px;
                        }
                        #nav_dashboard .navbar-new-top {
                            background: #fff;
                        }
                        #nav_dashboard .navbar-brand {
                            font-weight: 600;
                        }
                        #nav_dashboard .navbar-brand img {
                            width: 20%;
                        }
                        #nav_dashboard .navbar-new-top ul {
                            margin-right: 9%;
                        }
                        #nav_dashboard .navbar-new-top ul li {
                            margin-right: 8%;
                        }
                        #nav_dashboard .navbar-new-bottom {
                            background-color: #ffffff;
                            box-shadow: 0 5px 6px -2px rgba(0, 0, 0, .3);
                            border-top: 1px solid #e0e0e0;
                            margin-top: 8%;
                            height: 40px;
                        }
                        #nav_dashboard .navbar-new-bottom ul li {
                            margin-left: 2%;
                            margin-right: 2%;
                        }
                        #nav_dashboard .navbar-nav .nav-item a {
                            font-size: 18px;
                            font-weight: 600;
                            transition: 1s ease;
                            letter-spacing: 0px;
                            color: #096DA7;
                        }
                        .active,
                        .btn:hover {
                            color: #017499!important;
                            font-weight: 900!important;
                        }
                        #nav_dashboard .navbar-nav .nav-item a:hover {
                            color: #0062cc;
                        }
                        #nav_dashboard .dropdown-menu.show {
                            background: #f8f9fa;
                            border-radius: 0;
                        }
                        #nav_dashboard .header-btn {
                            width: 161%;
                            border: none;
                            border-radius: 1rem;
                            padding: 8%;
                            background: #0062cc;
                            color: #fff;
                            font-weight: 700;
                            font-size: 13px;
                            cursor: pointer;
                        }
                        .profile_box {
                            -webkit-box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
                            box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
                            padding: 40px;
                            background-color: #ffffff;
                        }
                        .profile_box_p_ra {
                            color: #666666;
                            text-align: left;
                            font-weight: 900;
                            font-size: 16px;
                        }
                        section#nav_dashboard {
                            padding-bottom: 80px;
                        }
                        .seprater_profile_box {
                            background-color: gray;
                            height: 1px;
                            width: 100%;
                        }
                        .balance_hed {
                            text-align: center;
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            font-size: 20px;
                            font-weight: 400;
                        }
                        .amount_pro {
                            text-align: center;
                            letter-spacing: 0px;
                            color: #096da7;
                            opacity: 1;
                            font-size: 35px;
                            font-weight: bold;
                        }
                        .pendind_with_draw {
                            text-align: center;
                            color: #666666;
                            font-size: 20px;
                            font-weight: 500;
                        }
                        .details_profile {
                            text-align: left;
                            font-size: 14px;
                            color: #666666;
                            opacity: 1;
                        }
                        .pd_top_for_detail {
                            padding-top: 30px;
                        }
                        .remaining_amount {
                            text-align: center;
                            letter-spacing: 0px;
                            color: #096da7;
                            opacity: 1;
                            font-size: 16px;
                            font-weight: 900;
                        }
                        .points_Detail {
                            text-align: left;
                            color: #a7a7b1;
                            padding-top: 12px;
                            padding-bottom: 10px;
                            font-weight: 400;
                        }
                        .points_fig {
                            text-align: left;
                            color: #096da7;
                            padding-top: 12px;
                            padding-bottom: 10px;
                            font-weight: 400;
                        }
                        .banner_cover {
                            padding-top: 100px !important;
                            padding-bottom: 50px !important;
                            background-position: center !important;
                            background-repeat: no-repeat !important;
                            background-size: contain !important;
                            width: 540px;
                        }
                        .pd_top_extra {
                            padding-top: 50px;
                        }
                        #companies_detail_table {}
                        #companies_detail_tabletd td {
                            text-align: left;
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            font-size: 14px;
                            font-weight: 500;
                        }
                        #companies_detail_table .point_in_tbl {
                            color: #10B9DC;
                            opacity: 1;
                            font-size: 13px;
                            font-weight: 700;
                        }
                        #companies_detail_table .amount_in_tbl {
                            color: #096DA7;
                            opacity: 1;
                            font-size: 13px;
                            font-weight: 700;
                        }
                        #companies_detail_table .detail_and_company {
                            font-size: 14px;
                        }
                        #dashborad_page_top_menu .dynamic_per_perpage {
                            background: white;
                            color: #096da7;
                            font-weight: 700;
                        }
                        #myaccount_sec {
                            padding-bottom: 50px;
                            padding-top: 100px;
                        }
                        #myaccount_sec .company_name {
                            letter-spacing: 0px;
                            color: #096DA7;
                            opacity: 1;
                            font-size: 14px;
                            font-weight: 900;
                            text-align: center;
                        }
                        #myaccount_sec .bg_row {
                            background: #004d65;
                            padding: 27px;
                            margin-top: -30px;
                        }
                        #myaccount_sec .account_id {
                            letter-spacing: 0px;
                            opacity: 1;
                            color: #666666;
                            font-size: 14px;
                            text-align: center;
                            font-weight: 600;
                        }
                        #myaccount_sec .strong_cl {
                            letter-spacing: 0px;
                            opacity: 1;
                            color: #10B9DC;
                            font-size: 14px;
                            text-align: center;
                            font-weight: 600;
                        }
                        #myaccount_sec .account_archive {
                            color: #666666;
                            opacity: 1;
                            font-size: 14px;
                            text-align: center;
                        }
                        #myaccount_sec .mg_left {
                            margin-left: -16%;
                        }
                        #myaccount_sec .bg-details {
                            padding: 40px;
                            /* background-color: #ffffff; */
                            border-bottom: 2px solid white;
                            background: white;
                            border-bottom: 2px solid #dad2d2;
                        }
                        #referd-sec {
                            padding-top: 100px;
                            padding-bottom: 50px;
                        }
                        #referd-sec {
                            text-align: left;
                            /* font: normal normal 600 14px/35px Montserrat; */
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            font-size: 12px;
                        }
                        #referd-sec .referd_box {
                            padding: 15px;
                            background-color: #f1f1f1;
                        }
                        #referd-sec .title {
                            text-align: left;
                            font: normal normal medium 25px/35px Montserrat;
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            font-size: 16px;
                            FONT-WEIGHT: 600;
                        }
                        #referd-sec .table td,
                        .table th {
                            padding: .75rem;
                            vertical-align: top;
                            border: none;
                        }
                        #referd-sec .table td {
                            text-align: left;
                            font: normal normal medium 20px/35px Montserrat;
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            font-weight: 700;
                            font-size: 14px;
                        }
                        #referd-sec .table td strong {
                            text-align: left;
                            /* font: normal normal 600 18px/35px Montserrat; */
                            letter-spacing: 0px;
                            color: #096DA7;
                            opacity: 1;
                        }
                        #referd-sec .ref_box_p_ra {
                            color: #666666;
                            text-align: left;
                            font-weight: 400;
                            font-size: 15px;
                        }
                        #referd-sec .amount_ref_stat {
                            text-align: left;
                            /* font: normal normal 600 18px/35px Montserrat; */
                            letter-spacing: 0px;
                            color: #096DA7;
                            opacity: 1;
                            font-size: 15px;
                            font-weight: 600;
                        }
                        #referd-sec .ref_detail_cp {
                            color: #666666;
                            text-align: center;
                            font-weight: 400;
                            font-size: 12px;
                        }
                        #withdrawl .box {
                            background: #CFEBF6;
                            padding: 40px;
                        }
                        #withdrawl .box .title {
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            font-size: 18px;
                            font-weight: 500;
                        }
                        #withdrawl .box .title_span {
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            font-size: 13px;
                            font-weight: 500;
                        }
                        #withdrawl .inner_shadow {
                            webkit-box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
                            box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
                            padding: 15px;
                            background-color: #ffffff;
                            margin-top: 10%;
                        }
                        #withdrawl .box_paragra {
                            text-align: left;
                            letter-spacing: 0px;
                            color: #666666;
                            font-size: 14px;
                        }
                        #withdrawl {
                            padding-top: 50px;
                            padding-bottom: 50px;
                        }
                        #manula_withdral_sec {
                            text-align: left;
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                        }
                        #manula_withdral_sec h3 {
                            text-align: left;
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            padding-top: 20px;
                            padding-bottom: 35px;
                        }
                        #manula_withdral_sec .box_inner_shadow_dt {
                            webkit-box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
                            box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
                            padding: 15px;
                            background-color: #ffffff;
                            padding: 30px;
                        }
                        #manula_withdral_sec h2 {
                            font-weight: 600;
                            font-size: 23px;
                        }
                        #manula_withdral_sec .row_styling_in_box_dt {
                            border: 2px solid #bcb6b6;
                            padding: 10px;
                            margin-top: 10px;
                        }
                        #manula_withdral_sec ul {
                            padding-top: 15px;
                            font-size: 10px;
                        }
                        #manula_withdral_sec .btn_pos {
                            padding: 35px;
                        }
                        #manula_withdral_sec .btn {
                            box-shadow: none!important;
                            background: linear-gradient( 90deg, rgba(1, 124, 163, 1) 0%, rgba(0, 68, 90, 1) 35%, rgba(1, 21, 28, 1) 100%);
                            color: white;
                            padding: 8px 50px;
                            border: none;
                        }
                        #manula_withdral_sec .box_inner_shadow_active_detail {
                            webkit-box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
                            box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
                            padding: 15px;
                            background-color: #ffffff;
                            padding: 30px;
                            border: 3px solid #01769b;
                        }
                        #manula_withdral_sec .check {
                            text-align: center;
                            font-size: 40px;
                            color: #2aef31;
                        }
                        #manula_withdral_sec .heading_automatic_sec {
                            text-align: center;
                            font-size: 14px;
                            font-weight: 500;
                        }
                        #manula_withdral_sec .decrib {
                            text-align: center;
                            font-size: 12px;
                        }
                        #manula_withdral_sec .Link {
                            text-align: center;
                            letter-spacing: 0px;
                            color: #037AA9;
                            opacity: 1;
                            font-weight: 700;
                            font-size: 14px;
                        }
                        #leader_board h2 {
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            text-align: center;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                        #leader_board .inner_shadow {
                            /* webkit-box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
        box-shadow: 1px -1px 10px 2px rgb(0 0 0 / 63%);
        padding: 15px; */
                            background-color: #ffffff;
                            /* margin-top: 10%; */
                            border-bottom: 1px solid #d0c6c6 padding-bottom: 10px;
                        }
                        #leader_board .details {
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            /* text-align: center; */
                            font-weight: 700;
                            font-size: 17px;
                        }
                        #leader_board .pd_top {
                            padding-bottom: 20px;
                        }
                        #leader_board .border_st {
                            border-bottom: 1px solid #d8d0d0;
                            padding-bottom: 20px;
                            padding-top: 25px;
                        }
                        #leader_board .pad-ext_row {
                            padding-bottom: 50px;
                        }
                        #leader_board .Cbc_points {
                            text-align: left;
                            /* font: normal normal 600 20px/35px Montserrat; */
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                            font-weight: 700;
                        }
                        #sign-up form {
                            margin: 0px 10px;
                        }
                        #sign-up h2 {
                            margin-top: 2px;
                            margin-bottom: 2px;
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                        }
                        #sign-up .container {
                            max-width: 360px;
                        }
                        #sign-up .divider {
                            text-align: center;
                            margin-top: 20px;
                            margin-bottom: 5px;
                        }
                        #sign-up .divider hr {
                            margin: 7px 0px;
                            width: 35%;
                        }
                        #sign-up .left {
                            float: left;
                        }
                        #sign-up .right {
                            float: right;
                        }
                        #sign-up button#signupSubmit {
                            border: none!important;
                            box-shadow: none!important;
                            background: linear-gradient( 90deg, rgba(1, 124, 163, 1) 0%, rgba(0, 68, 90, 1) 35%, rgba(1, 21, 28, 1) 100%);
                            color: white;
                        }
                        .btn_sign_modal_nav {
                            background: transparent;
                            border: 1px solid white;
                            padding: 5px 20px;
                        }
                        .btn_sign_modal_navs:hover {
                            color: #ffffff!important;
                            font-weight: 900!important;
                            background: gray;
                        }
                        .btn-primary:hover {
                            color: #fff;
                            background-color: #d8dce1;
                            border-color: #0b0d0e;
                        }
                        #login form {
                            margin: 0px 10px;
                        }
                        #login h2 {
                            margin-top: 2px;
                            margin-bottom: 2px;
                            letter-spacing: 0px;
                            color: #666666;
                            opacity: 1;
                        }
                        #login .container {
                            max-width: 360px;
                        }
                        #login .divider {
                            text-align: center;
                            margin-top: 20px;
                            margin-bottom: 5px;
                        }
                        #login .divider hr {
                            margin: 7px 0px;
                            width: 35%;
                        }
                        #login .left {
                            float: left;
                        }
                        #login .right {
                            float: right;
                        }
                        #login button#loginsubmit {
                            border: none!important;
                            box-shadow: none!important;
                            background: linear-gradient( 90deg, rgba(1, 124, 163, 1) 0%, rgba(0, 68, 90, 1) 35%, rgba(1, 21, 28, 1) 100%);
                            color: white;
                            width: 100%;
                        }
                        /* @media (max-width:789px) {
            #login button#signupSubmit {
                border: none!important;
                box-shadow: none!important;
                background: linear-gradient( 90deg, rgba(1, 124, 163, 1) 0%, rgba(0, 68, 90, 1) 35%, rgba(1, 21, 28, 1) 100%);
                color: white;
                width: 100%;
            }
        } */